@import './header.scss';
@import './post.scss';
@import './stream.scss';

body {
  margin: 0;

  * {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
}

#app-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

#app-footer {
  align-items: center;
  display: flex;
  justify-content: center;
}
