@import './header.scss';
@import './story.scss';
@import './stream.scss';
@import './pages/story.scss';

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  * {
    font-family: 'Andada', serif;
    box-sizing: border-box;
  }
}

#app-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

#app-footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.action-button {
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #313131;
  display: flex;
  font-family: 'Inter', sans-serif;
  text-decoration: none;

  * {
    border-radius: .5rem;
    color: #313131;
    text-decoration: none !important;
  }

  a {
    display: inline-block;
    padding: .5rem;
    height: 100%;
    width: 100%;
  }

  svg, figure {
    border-radius: 0;
  }

  &:hover, &:focus, &:active {
    background-color: #313131;
    color: #FFFFFF;

    * {
      background-color: #313131;
      color: #FFFFFF;
    }
  }
}
