#app-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ddddddaa;
  box-sizing: border-box;
  height: 70px;
  padding: .5rem 0;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 1.5rem;
  top: 0;
}

#header-wrapper {
  display: grid;
  grid-template-columns: minmax(50px, 20%) auto minmax(50px, 20%);
  margin: 0 auto;
  width: 1200px;

  h1 {
    font-family: 'Brygada 1918', serif;
    margin: 0;
  }

  @media (max-width: 1200px) {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
  }

  #navigation,
  #branding,
  #user {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #navigation,
  #user {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 2rem;
      width: 2rem;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  #navigation {
    box-sizing: border-box;
    grid-column: 1 / 1;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  #branding {
    flex-direction: column;
    grid-column: 2 / 2;
  }

  #user {
    box-sizing: border-box;
    grid-column: 3 / 3;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}
