#app-header {
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 56px;
  padding: .5rem 0;
  margin-bottom: 1.5rem;
}

#header-wrapper {
  margin: 0 auto;
  width: 1200px;

  h1 {
    font-family: 'Georama', sans-serif;
    margin: 0;
  }

  @media (max-width: 1200px) {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
  }
}
