.story {
  footer {
    * {
      font-family: 'Inter', sans-serif;
      font-size: .9rem;
    }

    display: grid;
    grid-template-columns: 60px 200px auto;
  }
}

.story-title {
  font-family: 'DM Serif Display', serif;
}

.story-field {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;

  &:last-child {
    margin-right: none;
  }

  figure {
    display: inline-block;
    height: 16px;
    margin: 0;
    margin-right: .5rem;
    width: 16px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}
