.story {
  margin-bottom: 1.5rem;

  main {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 0;

    figure {
      display: inline-block;
      margin: 0;
      margin-right: 1rem;
      width: 150px;
    }

    article {
      h2 {
        margin: 0;
      }
    }
  }

  footer {
    * {
      font-family: 'Inter', sans-serif;
      font-size: .9rem;
    }

    display: grid;
    grid-template-columns: 60px 200px auto;
  }
}

.empty-description-label {
  color: #848484;
  font-size: .8rem;
  text-transform: uppercase;
}

.story-title {
  font-family: 'DM Serif Display', serif;
}

.story-field {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;

  &.read-more-button {
    text-align: right;
    margin-right: 0;
  }  

  figure {
    display: inline-block;
    height: 16px;
    margin: 0;
    margin-right: .5rem;
    width: 16px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}
