.story {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 1.5rem auto;
  padding-bottom: 1rem;
  width: 95%;

  main {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    article {
      display: flex;
      overflow: hidden;
      width: 100%;

      p {
        text-align: left;
        margin: 0;

        @media (max-width: 500px) {
          display: flex;
          flex-direction: column;
        }

        figure {
          float: left;
          margin: 0 1rem 1rem 0;
          width: 150px;

          @media (max-width: 500px) {
            float: none;
            text-align: center;
            margin: 0 auto 1rem 0;
            width: 100%;
          }

          img {
            width: 100%;

            @media (max-width: 500px) {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  header {
    box-sizing: border-box;
    padding-bottom: .5rem;
  }

  footer, header {
    * {
      font-family: 'Inter', sans-serif;
      font-size: .9rem;
    }

    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.empty-description-label {
  color: #848484;
  font-size: .8rem;
  text-transform: uppercase;
}

.story-score {
  box-sizing: border-box;
  padding: .5rem;
  width: 65px;
}

.story-title {
  font-family: 'Brygada 1918', serif;
  margin: 0;
  margin-bottom: 1rem;
}

.story-meta {
  align-items: center;
  display: flex;
}

.story-field {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;

  &.read-more-button {
    text-align: right;
    margin-right: 0;
    width: 116px;
  }  

  figure {
    display: inline-block;
    height: 16px;
    margin: 0;
    margin-right: .5rem;
    width: 16px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}
