#stream {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  width: 1200px;

  @media (max-width: 1200px) {
    margin: 0 auto;
    width: 95%;
  }
}

.load-more-stories-button {
  cursor: pointer;
  font-family: 'Brygada 1918', sans-serif;
  font-size: 1.25rem;
  text-align: center !important;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 90%;

  &:disabled {
    cursor: not-allowed;
    opacity: .1;
  }
}
