#app-header {
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 56px;
  padding: .5rem 0;
  margin-bottom: 1.5rem; }

#header-wrapper {
  margin: 0 auto;
  width: 1200px; }
  #header-wrapper h1 {
    font-family: 'Georama', sans-serif;
    margin: 0; }
  @media (max-width: 1200px) {
    #header-wrapper {
      box-sizing: border-box;
      padding: 0 1rem;
      width: 100%; } }
#post-stream {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  width: 1200px; }
  @media (max-width: 1200px) {
    #post-stream {
      margin: 0 auto;
      width: 95%; } }
.post {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }
  .post:last-child {
    border-bottom: none; }
  .post main {
    align-items: flex-start;
    display: flex; }
    .post main h2 {
      font-family: 'Georama', sans-serif;
      margin: 0; }
  .post footer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem; }
    .post footer span, .post footer strong {
      align-items: center;
      display: flex;
      justify-content: center; }
    .post footer svg {
      height: 16px;
      margin-right: .5rem;
      width: 16px; }

.user, .score, .time, .comments {
  margin-right: 1rem; }

.read-more {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: .25rem;
  color: #000000;
  display: flex;
  padding: .25rem;
  text-decoration: none; }

.link-preview-image {
  margin: 0;
  width: 200px; }
  .link-preview-image img {
    max-width: 200px; }

.link-details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  width: calc(100% - 200px); }

#stream {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  width: 1200px; }
  @media (max-width: 1200px) {
    #stream {
      margin: 0 auto;
      width: 95%; } }
body {
  margin: 0; }
  body * {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box; }

#app-main {
  align-items: center;
  display: flex;
  justify-content: center; }

#app-footer {
  align-items: center;
  display: flex;
  justify-content: center; }
