<footer id="app-footer">
  <small>Created by Esteban Borai using the HackerNews API</small>&nbsp;|&nbsp;<a href="https://github.com/EstebanBorai/fluxcap" target="_blank">Check the source code</a>
</footer>
